#block{
    width:1300px;
    margin-top:0;
    height: 600px;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    border:1px solid white;
    border-left-color: #ccc;
    border-right-color: #ccc;
}
#header{
    width:1345px;
    margin: 0 auto 0 auto;
    clear:both;
}
#left_side{
    float:left;
    margin-left:0px;
    margin-top:20px;
    width:250px;
    height: 400px;
    border:1px solid white;
    border-right-color: #ccc;
}
#main_content{
    
    float:left;
    width:300px;
    height:300px;
    border:1px solid white;
    margin:20px 0px 0px 45px;
}
#main_content p a{
    color:black;
    text-decoration:none;
}
#right_side{
    float:right;
    margin-right:0px;
    margin-top:20px;
    width:250px;
    height: 400px;
    border:1px solid white;
    border-left-color: #ccc;
    
}
#left_side ul{
    list-style-type: none;
    font-size:20px;
    color:white;
    margin-top:20px;
    float:left;
    margin-left:-25px;
}
#left_side ul li{
    background:#ccc;
    text-align: center;
    width:200px;
    height:auto;
    padding:5px;
    border-radius:3px;
    border:1px solid white;
    margin-top:20px;
}
#left_side ul li a{
    text-decoration:none;
    color:white;
}
#right_side ul{
    list-style-type: none;
    font-size:20px;
    color:black;
    margin-top:20px;
    float:left;
    margin-left: -25px;
}
#right_side ul li{
    display:inline-block;
    background:#ccc;
    text-align: center;
    width:85px;
    color:white;
    height:auto;
    padding:5px;
    border-radius:3px;
    border:1px solid white;
    margin-top:20px;
}

#right_side ul li a{
    text-decoration:none;
    color:white;
}
