/* 
    Document   : home_style
    Created on : Mar 10, 2014, 11:21:31 PM
    Author     : md84h
    Description:
        Purpose of the stylesheet follows.
*/
body{
    margin:0;
    width:100%;
}
#header{
    background:#009999;
    width:1366px;
    height:auto;
    padding-top:1%;
    padding-bottom: 1%;
    }
#sign{ background:#009999;
    font-size:30px;
    list-style-type: none;
    color:white;
    padding:1%;
    margin-top:0;
    }
#sign li{
    float:left;
    display: block;
}
#logo{
    color:#3399FF;
    font-size:50px;
    margin-top: -1%;
    margin-left: 3%;
}
#signin{
    margin-left: 50%;
}
#signup{
    margin-left:5%;
}
#ask{
    color:white;
}
#logo:hover{
    color:white;
    text-transform: lowercase;
}
#logo:hover #ask{
    color:#3399FF;
    text-transform: uppercase;
}
#signin:hover{
    text-shadow: 1px 1px 1px white;
}
#footer{
    bottom: 0;
    background:#009999;
    width:1366px;
    position:absolute;
    padding-bottom: 3px;
}
#footer ul{
    margin-left: 35%;
}
#footer ul li{
    float:left;
    margin-left:4%;
}
#sign_block{
    margin:50px auto 0 auto;
    background:whitesmoke;
    width:500px;
    height:auto;
    border:1px solid #ccc;
    padding:5px;
    
}
input{
    height:25px;
    border:1px solid #E6E6E6;
    font-size:20px;
    background:#DBDBFF;
}
input [type="submit"]
{
    background:white;
}
